<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ title }} --- Rock -- Paper -- Scissors</title>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/play">Play Against Computer</a>
            </li>
        </ul>
    </nav>
    <main>
        <aside>
            <div id="rock"></div>
            <div id="paper"></div>
            <div id='scissors'></div>
        </aside>
        {% block content %}

        {% endblock content %}
    </main>
</body>